*
  box-sizing border-box

body
  background-color grey
  color            white
  margin           0
  font-family      sans-serif
  
.view
  overflow hidden
  
.red
  background-color red         !important
.orange
  background-color orange      !important
.yellow
  background-color yellow      !important
.light-green
  background-color light-green !important
.green
  background-color green       !important
  