*
  box-sizing border-box

body
  background-color grey
  color            white
  margin           0
  font-family     'Open Sans Condensed', sans-serif
  
.view
  overflow hidden
  
.title
  text-transform uppercase