.nav
  width  desctop-width
  margin 5px auto 30px
  
  .nav-list
    margin     0 
    padding    0
    text-align right
    
  .nav-list-left
    float   left
    margin  0
    padding 0
    
  .nav-item
    list-style   none
    display      inline-block
    margin-right 5px
    
  .nav-link
    color           bright-grey
    text-decoration none
  