// colors

grey        = #362f2d
light-grey  = #47413f
normal-grey = #525251
dark-grey   = #1c1818
bright-grey = #f2ebde

red         = #ed1c24
orange      = #f26522
yellow      = #fff200
light-green = #afe842
green       = #39b54a

// sizes

desctop-width = 1200px