.device
  position         absolute
  bottom           0
  width            200px
  height           300px
  background-color grey
  
  .device-materials
    padding  0
    margin   0
    position absolute
    bottom   0
    width    100%
    
  .device-material
    list-style none
    text-align center
    padding    4px