.device
  border-width = 12px
  
  position         absolute
  bottom           0
  width            250px
  height           470px
  background-color grey
  border           border-width solid white
  border-radius    border-width
  border-top       37px solid
  border-bottom    52px solid
  z-index          10
  
  &:after
    width = 45px
    
    content          ''
    position         absolute
    bottom           -37px
    left             50%
    margin-left      -((width + 2 * border-width) / 2)
    width            width
    height           22px
    background-color grey
    border-right     border-width solid grey
    border-left      border-width solid grey
    border-radius    border-width
  
  .device-materials
    padding  0
    margin   0
    position absolute
    bottom   0
    width    100%
    
  .device-material
    list-style none
    text-align center
    padding    4px
    color      black
    font-size  0
    height     5px
    border-top 1px solid grey
    transition 0.1s
    &:hover
      height    20px
      font-size 16px
    
// animate materials
.slide-up-enter 
  transition 0.6s ease-in
  height     0 !important
  padding    0 !important
  
.slide-up-enter.slide-up-enter-active
  height     5px
  padding    4px !important