.infos
  position         relative
  background-color light-grey
  height           300px
  padding          20px
  clear            both
  
  &:before
  &:after
    content          ' '
    position         absolute
    top              0
    height           100%
    width            2000px
    background-color light-grey
    z-index          -1
    
  &:before
    left  -2000px
  &:after
    right -2000px
    
  .used-in
    margin   0
    padding  0
    overflow hidden
    
    .part-name
      list-style       none
      float            left
      padding          5px 8px
      margin           0 5px 0 0
      background-color grey