.infos-inner
  position         absolute
  background-color normal-grey
  height           420px
  width            700px
  padding          10px 20px
  &:before
    content       ' '
    position      absolute
    top           -30px
    left          134px
    width         0
    height        0
    border-left   30px solid transparent
    border-right  30px solid transparent
    border-bottom 30px solid normal-grey

.left-col
  width        300px
  float        left
  margin-right 20px

.right-col
  overflow hidden

.rating
  margin   0
  padding  0
  position relative
  padding  0 10px 10px 0
  border-bottom 1px solid white

  .rating-item
    diameter = 30px

    list-style none
    clear      left
    margin     5px 0
    overflow   hidden
    cursor     pointer

    .rating-number
      background-color grey
      margin           0
      width            70px
      height           diameter
      border-radius    (diameter / 2)
      line-height      diameter
      text-align       center
      font-weight      400
      color            white
      float            left
      margin-right     10px
      font-weight      700

    .rating-type
      line-height diameter
      font-size   22px

  .popup
    position         absolute
    top              -75px
    left             -100px
    width            580px;
    background-color light-grey
    padding          10px
    z-index          110
    box-shadow       0 0 7px 0px black

    .close
      position absolute
      top      5px
      right    10px
      cursor   pointer
      
    .title
      font-size 18px
      margin    0
      
    .weighting-chart
      margin  10px 0 0 0
      padding 0
    
    .block
      list-style       none
      float            left
      outline          1px solid white
      background-color grey
      height           80px
      line-height      80px
      font-family      "Open Sans", "sans-serif"
      font-size        12px
      text-align       center
      &.health
        width 20%
      &.recicling
        width 20%
      &.country
        width 60%
        line-height 30px
        
      .country-chart
        width   100%
        padding 0
        margin  0
        .block 
          height      50px
          line-height 50px
          font-size   10px
      &.working
        width 50%
      &.human
        width 30%
      &.mineral
        width 20%
        line-height 12px !important
        padding-top 7px

.description
  height 220px

  .text
    font-family 'Open Sans', sans-serif
    font-weight 300
    font-size   11px
    max-height  200px
    overflow    auto
    margin      10px 0 0 0

  .link-list
    margin  0
    padding 0
    text-align right

  .link-list-item
    list-style   none
    font-size    15px
    display      inline
    text-align   right
    color        dark-grey
    a
      color           inherit
      text-decoration none
      cursor          pointer
    a:hover
      text-decoration underline
    
    &.youtube
      color       red
      margin-left 5px

.list
  margin   0
  padding  0
  overflow hidden

  .list-title
    font-size 14px
    margin    0 0 5px 0

  .item-name
    list-style       none
    float            left
    padding          4px 6px
    font-size        12px
    margin           0 5px 0 0
    background-color grey
    &.active
      background-color orange

.world-map
  position relative

  .globe
    margin 40px 0 0 20px
    width: 300px

  .country-ratings
    position absolute
    top      100px
    right    0
    margin   0
    padding  0

  .rating-item
    list-style       none
    background-color grey
    padding          4px 9px
    margin           9px 0

  dt
    display     inline-block
    width 110px
  dd
    display     inline-block
    margin      0
    font-weight 600


