.infos
  position         relative
  background-color light-grey
  height           470px
  padding          30px 20px 20px 20px
  clear            both
  &:before
  &:after
    content          ' '
    position         absolute
    top              0
    height           100%
    width            2000px
    background-color light-grey
    z-index          -1
  &:before
    left  -2000px
  &:after
    right -2000px
    
  .infos-inner
    position         relative
    background-color normal-grey
    height           420px
    width            700px
    padding          10px 20px
    &:before
      content       ' '
      position      absolute
      top           -30px
      left          134px
      width         0
      height        0
      border-left   30px solid transparent
      border-right  30px solid transparent 
      border-bottom 30px solid normal-grey
      
  .left-col
    width        300px
    float        left
    margin-right 20px
      
  .rating
    margin   0
    padding  0
    position relative
    padding  0 10px 10px
    border-bottom 1px solid white
    
    .rating-item
      diameter = 30px
      
      list-style none
      clear      left
      margin     5px 0
      overflow   hidden
      cursor     pointer
      
      .rating-number
        background-color grey
        margin           0
        width            diameter
        height           diameter
        border-radius    (diameter / 2)
        line-height      diameter
        text-align       center
        font-weight      400
        color            white
        float            left
        margin-right     10px
        font-weight      700
        
      .rating-type
        line-height diameter
        font-size   22px
    
    .popup
      position         absolute
      top              -100px
      left             -50px
      width            250px;
      background-color light-grey
      padding          10px
      z-index          20
      
      .close
        position absolute
        top      5px
        right    5px
        background-color red
        cursor           pointer
  
  .description
    height 220px
    
    .text
      font-family 'Open Sans', sans-serif
      font-weight 300
      font-size   11px
      max-height  200px
      overflow    auto
      margin      10px 0 0 0
    
    .link-list
      margin  0
      padding 0
      text-align right
      
    .link-list-item
      list-style   none
      font-size    15px
      display      inline
      text-align   right
      a
        color           dark-grey
        text-decoration none
        cursor          pointer
        
  .used-in
    margin   0
    padding  0
    overflow hidden
    
    .used-in-title
      font-size 14px
      margin    0 0 5px 0
      
    .part-name
      list-style       none
      float            left
      padding          4px 6px
      font-size        12px
      margin           0 5px 0 0
      background-color grey
      