.stop-Light
  position   absolute
  bottom     300px
  width      10px
  height     230px
  background #000
  cursor     pointer
  z-index    10
  
  .popup
    position         absolute
    top              0
    left             15px
    background-color light-grey
    width            200px
    font-size        11px
    padding          10px
    
    .close
      position absolute
      top      5px
      right    5px
      background-color red
