.stop-Light
  pole-length = 90px
  
  position      absolute
  bottom        470px
  margin-bottom pole-length
  width         50px
  height        210px
  padding-top   2px
  border-radius 5px
  background    dark-grey
  cursor        pointer
  cursor        pointer
  z-index       0
  &:after
    content          ' '
    position         absolute
    bottom           - pole-length
    left             50%
    margin-left      -6px
    width            12px
    height           pole-length
    background-color dark-grey
  &.unshure
    .light
      background-image url(../img/stripes.png)
      
  .light
    diameter = 35px
    
    display          block
    width            diameter
    height           diameter
    background-color grey
    border-radius    (diameter / 2)
    margin           5px 7px
    transition       background-color 1s
    
    &.red
      background-color red
    &.orange
      background-color orange
    &.yellow
      background-color yellow
    &.lightGreen
      background-color light-green
    &.green
      background-color green
  
  .popup
    position         absolute
    top              -5px
    left             20px
    background-color light-grey
    width            80px
    height           270px
    padding          10px
    z-index          200
    box-shadow       0 0 7px 0px black
    cursor           default
    
    .close
      position absolute
      top      5px
      right    10px
      cursor   pointer
      
    .title
      font-size 14px
      margin    20px 0 0
      
    .stop-light-chart
      margin  10px 0
      padding 0
      height  200px
      
      .color
        list-style  none
        text-align  center
        padding-top 10px
        color       black
        
        &.red
          background-color red
          height           25%
        &.orange
          background-color orange
          height           25%
        &.yellow
          background-color yellow
          height           20%
        &.lightGreen
          background-color light-green
          height           20%
        &.green
          background-color green
          height           10%
          padding-top      0
