.uploader
  @import "style.css"
  #content
    position    relative
    padding     2px 15px
    min-height  1200px
    
  .close
    position absolute
    right    20px
    top      10px
    color    white
    text-decoration none
    font-size       20px
    &:hover
      color orange
    
  .mined-in-label
    position static
  
  .resource-list
    width            100%
    margin           10px auto 0
    padding          0
    background-color grey
    overflow         hidden
    
    .country
      list-style    none
      float         left
      width         25%
      padding       3px 10px
      text-align    center
      color         white
      border-bottom 1px solid
      border-right  1px solid
      cursor        pointer
      &:hover
      &.selected
        background-color orange
        transition background-color 0.5s
        
  .share-slider
    margin 10px auto
    .country
      width   100%
      padding 5px 0
      clear   left
      line-height 20px
      user-select none
      cursor      default
    .slider
      position         relative
      color            white
      background-color grey
      border-right     1px solid black
      height           20px
      float            left
      margin-right     30px
      &:after
        content          ' '
        position         absolute
        top              0
        right            -15px
        width            15px
        height           100%
        background-color orange
        cursor           grab
  .link
    color           black
    text-decoration none
    &:hover
      color orange
  .nav
    width 700px